body { 
    font-family: sans-serif; 
    margin-top: 15pt;
    margin-left: 30pt;
}

h1 {
    font-size: 30pt;
}

form ul {
    list-style-type: none;
}

.high {
    color: green;
}

.high:after {
    content: ">";
}

.low:after {
    content: "<";
}

.low {
    color: red;